<h1>天気予報比較サイトホーム</h1>
<p>このサイトでは、異なる情報源の天気予報を比較することができます。</p>
<%= form_with url: "/forecasts", method: :get do |form| %>
    <%= form.label "対象地域:" %>
    <%= form.select :area_code, @regions, { selected: 130000 } %>
    <%= form.submit "天気予報を表示" %>
<% end %>
